body {
    margin: 0;
}

#wrapper {
    width: 1300px;
    height: 500px;
    margin: auto;
}

#banner {
    background-image: url(image/2.jpg);
    width: 1300px;
    height: 400px;
    margin-top: 10px;
}

#menu {
    font-weight: bold;
    width: 1300px;
    height: 35px;
    margin-top: 2px;
    background-color: #f6efbd;
}

.call-to-action {
    text-align: center;
}


#leftsidebar {
    width: 500px;
    min-height: 400px;
    float: left;
    margin-top: 2px;
}

#rightsidebar {
    width: 700px;
    height: 400px;
    background-color: #c67a7a;
    float: right;
    margin-top: 2px;
    border: 1px solid black;
    text-align: center;
}

#content {
    width: 1300px;
    min-height: 400px;
    background-color: white;
    float: left;
    margin-top: 10px;
    border: 1px solid black;
}

#footer {
    background-color: #c67a7a;
    height: 50px;
    width: 1300px;
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
    float: left;
}



